.rootAsideComponent {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 250px;
  position: relative;
  flex-grow: 1;
  border: solid;
  transition: width 1s;
  .publicityContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    .boxImage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      object-fit: contain;
      height: 100%;
      width: 100%;

      max-height: 260px;
      border: solid;
      overflow: hidden;
      border-radius: 0.25rem;
      img {
        width: 100%;

        height: 100%;
        max-height: 260px;
      }
    }
  }
}

.aside-open {
  width: 250px;
}

.aside-close {
  width: 0px;
}
