.DashboardContent {
  z-index: 0;
  background-image: url("/images/Main_Cover.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .boxTitlePlusParagraph {
    position: sticky;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid var(--color-shadow-gold);
    max-width: 320px;
    background-color: var(--color-shadow-modal);

    h1 {
      text-align: center;
      text-decoration-line: underline;
    }
  }
}
