#rootFormSearchBook {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.66);

  background-color: var(--color-neutral-200);

  fieldset {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    legend {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
    }

    .boxInput {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;

      input {
        width: 300px;
        max-width: 300px;
        @media screen and (max-width: 724px) {
          width: 100%;
        }
      }
    }
  }
}
